<nb-card>
  <nb-card-header>Bet page</nb-card-header>
  <nb-card-body>
    <div class="command">
      <label>Choose team</label>
      <nb-radio-group [(ngModel)]="option">
        <nb-radio
          *ngFor="let option of options"
          [checked]="option.checked"
          [value]="option.value">
          {{ option.label }}
        </nb-radio>
      </nb-radio-group>
    </div>
    <div [formGroup]="betForm" class="container">
      <div class="form-group">
        <label for="value">Value</label>
        <input nbInput id="value" formControlName="value"
               [status]="(value?.errors?.min || value?.errors?.max || value?.hasError('pattern')) ? 'danger' : 'primary'"
               class="form-control" placeholder="Value">
        <ngx-validation-message label="Value" [showMin]="value?.errors?.min" [showMax]="value?.errors?.max"
                                [showRequired]="value?.errors?.required"
                                [showPattern]="value?.hasError('pattern')" min=1 max=12000></ngx-validation-message>
      </div>
    </div>
    <div class = "counter">
      <label class="countdown-label">Event expiration countdown:</label>
      <countdown  (reached)="callback($event)"  [text]="text" units=" Days | Hours | Minutes | Seconds"  [end]="finishEventDate"></countdown>
      <label class="wrong-message" *ngIf="hasExpired">You cannot create bet because expiration period of event has gone</label>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" [disabled]="!betForm.valid || hasExpired" (click)="create()" hero>Create</button>
  </nb-card-footer>
</nb-card>


